<html>

<head>
    <title>OneIssue-Dashboard</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="bootstrap-daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="c3/c3.min.css">
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="moment/min/moment.min.js"></script>
    <script src="bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="d3/d3.min.js"></script>
    <script src="c3/c3.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="ng-bs-daterangepicker/dist/ng-bs-daterangepicker.min.js"></script>
    <script src="js/dashboardApp/initApp.js"></script>
    <script src="js/dashboardApp/controllers/mainCtrl.js"></script>
    <script src="js/dashboardApp/services/ApiService.js"></script>
    <script src="js/dashboardApp/services/ConstantService.js"></script>
    <script src="js/dashboardApp/services/GraphService.js"></script>
</head>

<body>
    <div ng-app="DashboardApp" ng-controller="mainCtrl">
        <div class="panel panel-default" style="text-align:center;">
            <div ng-show="filterHasResults">
                <div id="barChartLocation" class="chart"></div>
                <div id="barChartIssueType" class="chart"></div>
                <div id="pieChart" class="c3" class="chart"></div>
            </div>
            <div ng-show="!filterHasResults">
                <h1>There are no issues found.</h1></div>
        </div>
        <div class="panel panel-default" style="margin-top: 20px; width: 40%;float: none;margin: 0 auto;">
            <div class="panel-heading" style="font-weight: bold;">Issue Date</div>
            <div class="panel-body">
                <input readonly type="daterange" ng-model="issueDate" ng-change="handleFilterChange(selectedFilters, issueDate)" style="width:80%; text-align: center;">
            </div>
        </div>
        <div class="panel panel-default" style="margin-top: 20px;">
            <div class="panel-heading" style="font-weight: bold;">Filters</div>
            <div class="panel-body">
                <div class="panel panel-success filterPanel" ng-repeat="filter in filterMapping">
                    <div class="panel-heading" style="font-weight: bold;">{{filter.name}}</div>
                    <div class="panel-body">
                        <select class="form-control customMultipleSelect" multiple ng-multiple="true" ng-model="selectedFilters[filter.prop]" ng-options="filter for filter in filters[filter.prop]" ng-change="handleFilterChange(selectedFilters, issueDate)"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
